############
## Client Config Profile "default"
##

profile_name = Default
minimap_ui_scale = 3
minimap_north_locked = true
info_display_config = This option's value is saved to sub-folder "info_display_config".